#chatbar {
  width:20%;
  height: 100vh;
  position: fixed;
  background: #3a3a3a;
  display: block;
  right:0;
  top:0;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  z-index: 1;
}

#chatbar.hide {
  transform: translate3d(30vw, 0, 0);
}

#chatbar.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.textbox {
  height: 50px;
  width: 50px;
}

.messagebox{
  margin-left: 24px;
  margin-right: 18px;
  background: grey;
  margin-top: 10px;
  height: 83%;
  width: 85%;
}

.chattitle {
  margin-top: 110px;
  font-size: 20px;
  color: white;
}



