.main{
  width:80%;
  height: 100vh;
  /* background: white; */
  position: static;
  background: #232323;
  display: block;
  margin-left: 10%;
}

.mainTitle {
  margin-top: 120px;
  font-size: 36px;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.inputcontainer{
  margin-left: 20px;
  height: 22px;
}

.linkT {
  font-size: 20px;
  color: white;
  font-weight: bold;
  float: left;
}

.inputL {
  width: 200px;
  float: left;
  margin-left: 10px;
  height: 20px;
  font-size: 16px;
}

.inputB {
  float: left;
  height: 27px;
  font-size: 22px;
  margin-left: 10px;
  background-color: #0078ce;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.videoplayer {
  display: flex;
  height: 360px;
  width: 480px;
}

.flexbox2 {
  padding-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
}

/*Buttons*/

.navButton, .chatButton {
    background-color: #1c1f23;
    border: 2px solid #e8e8e8;
    color: #e8e8e8;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 7px;
    cursor: pointer;
    height:5%;
}

.navButton:hover {
  color: #0078ce;
  border-color: #0078ce;

}

.chatButton:hover {
  color: #0078ce;
  border-color: #0078ce;
}
